<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>betMaster</title>

    <style>
      body {
        background-color: black;
        color: white;
      }
      main {
        display: flex;
        gap: 3rem;
      }
      .games {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .tekits {
        flex: 1;
      }
      .game {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .preveiw {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      table th,
      table td {
        width: 40px;
        height: 40px;
        text-align: center;
      }
      table td span {
        display: block;
      }
      table td {
        background-color: rgb(12, 70, 51);
        cursor: pointer;
      }
      table td:hover {
        background-color: rgb(23, 193, 136);
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="games"></div>
    </main>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/sendReq.js"></script>
</html>
